button {
	padding: 17px 18px 20px 16px;
	background-color: $main-red;
	color: $light-grey;
	text-transform: uppercase;
	margin: 20px 0 15px 0;
	border: 0;
	outline: 0;
	.glyphicon {
		padding-right: 5px;
		top: 2px;
	}
	&:hover {
		background-color: darken($main-red, 2%);
	}
	&:active {
		background-color: darken($main-red, 4%);
	}
}

.bird-header-bottom {
	position: absolute;
	float: right;
	z-index: 100;
	top: 137px;
	right: 150px;
	float: right;
	width: 24px;
}

.bird-header-top {
	position: absolute;
	float: right;
	z-index: 101;
	top: 74px;
	right: 100px;
	float: right;
	width: 110px;
}

#app-download img {
	width: 600px;
	float: right;
	display: inline;
	margin: -340px 0 0 0;
	
	@media screen and (max-width: 990px) {
		display: none
	}
}

.ossp-logo {
	width: 85px;
	height: 60px;
	float: left;
	display: inline;
	// @media screen and (max-width: 768px) {
	// 	display: block;
	// }
}

.footer-navigation {
	color: $medium-grey;
	margin-top: 16px;
	float: right;
	display: inline;

	li {
		display: inline;
		margin: 0 0 0 22px;
		@media screen and (max-width: 990px) {
			margin: 0 16px 0 0;
		}
	}
	@media screen and (max-width: 990px) {
		float: left;
		padding-left: 0;
	}
}

// Clouds 

.cloud {
	width: 200px;
	height: 60px;
	background: #fff;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	position: relative;
	@media screen and (max-width: 678	px) {
		display: none;
	}
}
.cloud:before, .cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 100px;
	height: 80px;
	position: absolute;
	top: -15px;
	left: 10px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}
.cloud:after {
	width: 120px;
	height: 120px;
	top: -55px;
	left: auto;
	right: 15px;
}

/* Time to animate */
.x1 {
	left: 450px;
	top: 45px;
	@include cloud-animate(0.75);
}
.x2 {
	left: 200px;
	top: 30px;
	@include cloud-animate(0.65);
}
.x3 {
	left: 0px;
	top: -60px;
	@include cloud-animate(0.6);
}
.x4 {
	left: 300px;
	top: -150px;
	@include cloud-animate(0.55);
}

@-webkit-keyframes moveclouds {
	0% {
		margin-left: (1000px);
	}
	100% {
		margin-left: (-1000px);
	}
}
@-moz-keyframes moveclouds {
	0% {
		margin-left: (1000px);
	}
	100% {
		margin-left: (-1000px);
	}
}
@-o-keyframes moveclouds {
	0% {
		margin-left: (1000px);
	}
	100% {
		margin-left: (-1000px);
	}
}

// Speech bubble

.triangle-isosceles {
	position: absolute;
	padding: 16px 24px;
	margin: 1em 0 3em;
	color: $emph-grey;
	background: $light-grey;
	border-radius: 18px;
	top: 50px;
	right: 220px;

  &:after {
	  content:"";
	  position:absolute;
	  bottom:-15px; /* value = - border-top-width - border-bottom-width */
	  left:50px; /* controls horizontal position */
	  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
	  border-style:solid;
	  border-color: $light-grey transparent;
	  /* reduce the damage in FF3.0 */
	  display:block;
	  width:0;
	}
	// &:hover {
	// 	opacity: 0.8;
	// }
}


.triangle-isosceles.right {
	margin-right: 50px;
	background: $light-grey;
	&:after {
		top: 22px;
		right: -20px;
		bottom: auto;
		left: auto;
		border-width: 10px 0 10px 20px;
	  border-color:transparent $light-grey;
	}
}