<div class="row">
  <div class="span12">

    <!-- Begin Title -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Frídagar</h2>
          <h3 class="title-description color-text">Hvenær er frí?</h3>
        </div>
      </div>
    </div>
    <!-- End Title -->

    <!-- Start BlockQuote/Tooltip Section -->
    <div class="row">
      <!-- Start CLNDR -->
      <div class="cal" calendar></div>  
      <!-- End CLNDR -->
    </div>
    <!-- End BlockQuote/Tooltip Section -->
    
    <!-- HR RULER -->
    <div class="row">
      <div class="span12">
        <hr>
      </div>
    </div>
    <!-- End HR RULER -->
  </div>
</div>
